<style>
  body {
    margin: 50px;
  }
  td {
    width: 100px;
    height: 100px;
    outline: 1px solid black;
    text-align: center;
    padding: 0;
  }
</style>
<table>
  <tr>
    <td>1</td>
    <td>2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>3</td>
  </tr>
</table>
<div id="progressBar"></div>
<script>
  let lastStep = 4;
  let currentStep;
  let cycle = 0;
  function canAdvance(lastStep, currentStep) {
    if (currentStep == lastStep + 1) {
      return true;
    }
    if (lastStep == 4 && currentStep == 1) {
      return true;
    }
    return false;
  }
  window.addEventListener('mousemove', (event) => {
    let x = event.clientX;
    let y = event.clientY;
    let prediction = [];
    document.querySelectorAll('td').forEach((td, index) => {
      let label = +td.textContent;
      let rect = td.getClientRects().item(0);
      let cx = rect.x + 50;
      let cy = rect.y + 50;
      let dx = x - cx;
      let dy = y - cy;
      let distance = Math.sqrt(dx * dx + dy * dy);
      prediction.push({ td, label, distance });
      td.style.backgroundColor = 'white';
    });
    let result = prediction.find((step) => step.distance < 25);
    if (!result) return;
    result.td.style.backgroundColor = 'coral';
    currentStep = result.label;
    if (canAdvance(lastStep, currentStep)) {
      lastStep = currentStep;
      if (currentStep == 4) {
        cycle++;
      }
    }
    console.log(result);
    progressBar.innerHTML = `
<p>last: ${lastStep}</p>
<p>curr: ${currentStep}</p>
<p>cycle: ${cycle}</p>
    `;
  });
</script>
